*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background: url("../img/bg1.jfif") no-repeat, repeat;
   background-size: cover;
}

.container{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.glass-container{
   width: 20rem;
   height: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: rgba(0,0,0,0.3);
   backdrop-filter: blur(10px);
   border-radius: 30px;
}

.glass-container h2{
   margin-bottom: 50px;
   margin-top: 50px;
   color: #fff;
}

form{
   display: flex;
   flex-direction: column;
   align-items: center;
}

form label{
   font-size: 1.3rem;
   color: #fff;
}

form input{
   width: 80px;
   margin-bottom: 10px;
}

form .calc-btn{
   margin-top: 15px;
   width: 100px;
   height: 35px;
   border-radius: 50px;
   background: #fff;
   border: none;
   cursor: pointer;
   transition: .3s;
   color: #000;
   font-weight: 600;
   transition: 0.2s;
}

form .calc-btn:hover{
   transform: scale(1.1);
   background: rgb(179, 179, 179);
}